<nav class="b-article-pager">
  <ul class="b-article-pager__items">
    <li class="b-article-pager__item is-previous">
      {{ if .PrevInSection }}
        <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">Prev</a>
      {{ end }}
    </li><!-- .b-article-pager__item -->
    <li class="b-article-pager__item is-next">
      {{ if .NextInSection }}
        <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">Next</a>
      {{ end }}
    </li><!-- .b-article-pager__item -->
  </ul><!-- .b-article-pager__items -->
</nav><!-- .b-article-pager -->
