{{ define "title" }}
{{- .Site.Title -}}
{{ end }}

{{ define "main" }}
{{ "<!-- _default/index.html start -->" | safeHTML }}
<main>
  <nav class="l-articles">
    <div class="l-container">
      <div class="l-articles__inner">
        <div class="l-articles__rows">

          <div class="l-articles__row">
            <header class="b-articles-header">
              <h1 class="b-articles-header__title">
                Articles
              </h1>
            </header><!-- .b-articles-header -->
          </div><!-- .l-articles__row -->

          {{ if .Content  }}
            <div class="l-articles__row">
              <article class="b-articles-description">
                <div class="a-long-text is-md">
                  {{ .Content }}
                </div><!-- .a-long-text -->
              </article><!-- .b-articles-description -->
            </div><!-- .l-articles__row -->
          {{ end }}

          <div class="l-articles__row">
            {{- partial "b-articles.html" . -}}
          </div><!-- .l-articles__row -->

        </div><!-- .l-articles__rows -->
      </div><!-- .l-articles__inner -->
    </div><!-- .l-container -->
  </nav><!-- .l-articles -->
</main>
{{ "<!-- _default/index.html end -->" | safeHTML }}
{{ end }}
