@use "../config" as *

.b-articles-article__inner
  text-decoration: none
  color: $default-text

.b-articles-article__published-date
  font-weight: 700
  +media-breakpoint-up(md)
    +text-block(fz(4) 1.4)
  +media-breakpoint-down(sm)
    +text-block(fz(2) 1.4)

.b-articles-article__title
  font-weight: 700
  +media-breakpoint-up(md)
    +text-block(fz(6) 1.4)
    &:not(:first-child)
      margin-top: vr(1)
  +media-breakpoint-down(sm)
    +text-block(fz(5) 1.4)
    &:not(:first-child)
      margin-top: vr(1)
