@use "../config" as *

.b-article-pager__items
  display: flex
  justify-content: space-between

.b-article-pager__item-link
  display: flex
  align-items: center
  +hover-link

.b-article-pager__item-icon
  +size(.75em)
  .is-prev &
    margin-right: .5em
    transform: rotate(180deg)
  .is-next &
    margin-left: .25em
