@use "../config" as *

.b-logo__link
  text-decoration: none

.b-logo__type
  color: $default-text
  font-weight: 700
  display: inline-block
  transition: color .2s ease-out
  +media-breakpoint-up(md)
    +text-block(fz(7) 1.4)
  +media-breakpoint-down(sm)
    +text-block(fz(6) 1.4)
  .b-logo__link:hover &
    color: #ff00a5
