@use "../config" as *

.a-page-title
  font-weight: 700
  +media-breakpoint-up(md)
    +text-block(fz(8) 1.5)
    &:not(:first-child)
      margin-top: vr(3)
  +media-breakpoint-down(sm)
    +text-block(fz(6) 1.5)
    &:not(:first-child)
      margin-top: vr(1)
